{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/estilsInici.css") }}">
{% endblock %}
{% block title %}Inici{% endblock %}
{% block body %}
    <h1 id="titolInici">Projecte Symfony Equips 2n DAW Sergio Gimeno</h1>
    <p id="paragrafInici">
        Inici programa gestio d'equips i membres del projecte 2n DAW <br>
        <a href="{{ path("dades_equips", {'codi': 3}) }}"><img class="imatgeEquip" src="{{ asset("imgs/inicial.jpeg") }}" alt="Foto guapisima generada per IA"></a>
    </p>

{% endblock %}